#main h3{
	display: block;
	font-size: 16px;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
#main blockquote {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 40px;
	-webkit-margin-end: 40px;
}
#main p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-size: 14px;
}
#main ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
#main li {
	display: list-item;
	text-align: -webkit-match-parent;
}
#main h4 {
	display: block;
	-webkit-margin-before: 1.33em;
	-webkit-margin-after: 1.33em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;

	font-size: 14px;
}


.containter{
	margin:0 auto;
	margin-top: 30px;
	margin-bottom: 350px;
	width:80%;
	color:#2D374B;
	position: relative;


}
.main:not(.position){
	width: 77%;
	float: right;
	border: 1px solid #eae6e6;
	border-bottom:none;
	background-color:white;
	border-radius:5px;
	margin-top: 50px;
	padding-left: 25px;
	padding-right: 25px;

}

.sidebar {
	width: 20%;
	float: left;
	margin-right: 3%;

}

#position {
	width: 77%;
	height: 40px;
	background-color: white;
	position: absolute;
	/* top: -50px; */
	border-top: 2px solid #0474c8;
	padding: 10px;
	left: 23%;
}
.sidebar .related {
	background-color: #E6E9ED;
}

.sidebar .widget {
	margin-bottom: 30px;
}

#fixedBox {
	position: relative;
}

.sidebar .widget .hd {
	background: #f0ad4e;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	font-size: 16px;
	font-weight: 300;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color:white;
}


.sidebar .widget .bd {

}


li {
	display: list-item;
	text-align: -webkit-match-parent;
}
.sidebar .widget li {
	padding-bottom: 10px;
	font-size: 14px;
	list-style: none outside none;
	border-bottom: 1px solid #CCC;

}
.sidebar .widget li a{
	text-decoration:none;
	cursor: pointer;
}
.sidebar_search_box {
	margin-bottom: 30px;
	overflow: hidden;
}
.sidebar .widget {
	margin-bottom: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
form{
	display:block;
}

.dropdown-menu{
	filter:alpha(opacity=95); /*IE滤镜，透明度50%*/
	-moz-opacity:0.95; /*Firefox私有，透明度50%*/
	opacity:0.95;/*其他，透明度50%*/
	width:100%;
}
.dropdown-menu a{
	text-decoration:none;
}
#footer{
	top:0px;
}
